# Data visualization with Pandas (matplotlib)

[matplotlib style sheets](https://matplotlib.org/gallery/style_sheets/style_sheets_reference.html)

## Intro to pandas viz and matplotlib

- Pandas `plot` method is a _wrapper_ around matplotlib
- Pandas is only able to produce a small subset of the plots available with matplotlib:
    - 'line' : line plot (default)
    - 'bar' : vertical bar plot
    - 'barh' : horizontal bar plot
    - 'hist' : histogram
    - 'box' : boxplot
    - 'kde' or 'density' : Kernel Density Estimation plot
    - 'area' : area plot
    - 'pie' : pie plot
    - 'scatter' : scatter plot
    - 'hexbin' : hexbin plot

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html

### Key to understanding plotting in pandas

1. Whether the plotting method requires one or two variables to make the plot?
    - 2-var: __bar__, __line__ and __scatter__ plots require 2 variables (x, y)
    - 1-var: __boxplot__, __histogram__, and __KDE__ use only a single variable
        - other related _stats_ value will be calculated automatically by pandas
2. Aesthetic mapping in pandas?
    - 2-var: `index => x axis`, `values => y axis`, `column names => color`
    - 1-var: Will ignore the index and apply a transformation or aggregation to each variable

## Two-variavble plots

In [5]:
# 水果銷售數據
df = pd.DataFrame(index=pd.Index(['E', 'A', 'B', 'D', 'C'], name='store'),
                  data={'蘋果': [20, 10, 40, 20, 50],
                        '橘子': [35, 40, 25, 19, 33]})
df.head()

       蘋果  橘子
store
E      20  35
A      10  40
B      40  25
D      20  19
C      50  33

**Line plot (default)**

- Index => `x` (must be numeric or time series)
- Values => `y axis`
- Columns => `color`

**Bar plot**

- Index => `x`
- Values => `y axis`
- Columns => `color`

**Scatter plot**: Specify 2 columns for x, y

### One-var plots

## Small-multiples: subplots in pandas with matplotlib

1. 手動 `plt.subplots()`
2. `DataFrame.plot(subplots=True)`: columns => `facets`

### 1. 手動 plt.subplot()

### 2. Subplots=True

## Save your visualizations from the Jupyter Notebook

---

## Pandas - Data aggregation and plot

### 男性還是女性 (sex) 生還率高 (survived)？

### 3 variables

## Resources

- [Pandas visualization](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.line.html)
- [The Python Graph Gallery](https://python-graph-gallery.com/)