# Data visualization with Pandas (matplotlib)

## Two-variavble plots

In [5]:
# 水果銷售數據
df = pd.DataFrame(index=pd.Index(['E', 'A', 'B', 'D', 'C'], name='store'),
                  data={'蘋果': [20, 10, 40, 20, 50],
                        '橘子': [35, 40, 25, 19, 33]})
df.head()

       蘋果  橘子
store
E      20  35
A      10  40
B      40  25
D      20  19
C      50  33

## One-variavble plots

## Small-multiples: subplots in pandas with matplotlib

1. 手動 `plt.subplots()`
2. `DataFrame.plot(subplots=True)`: columns => `facets`

### 1. 手動 plt.subplots()

### 2. df.plot(subplots=True)

## Save your visualizations from the Jupyter Notebook

---

## Pandas - Data aggregation and plot

### 男性還是女性 (sex) 生還率高 (survived)？

### 3 variables