# Pandas Data Manipulation

### Group and summarize

#### Twin_Cities 和非 Twin_Cities 每年的交通死亡數 (Fatalities) 是否有差異？

#### Titanic

- 姓名、性別、年齡
- survived: 是否生還
- pclass: 艙等
- cabin: 房間號碼
- embarlked: 登船港口
- sibsp: 兄弟姊妹＋老婆丈夫數量(sibsp)
- parch: 父母小孩的數量

#### 不同艙等各有多少人？

#### 不同艙等的生還/死亡率？

### pivot() / pivot_table()

#### 範例資料：各地銷售額

In [ ]:
sales_df = pd.DataFrame({
    'year': ['2016', '2016', '2015', '2014', '2013'],
    'country':['uk', 'usa', 'fr','fr','uk'],
    'sales': [10, 21, 20, 10,12],
    'rep': ['john', 'john', 'claire', 'kyle','kyle']
})
sales_df.head()